

<div class="authform">
  <%= form_for(@label) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :colour %>
      <%= f.select :colour, Label::COLOURS.map { |c| c }, {} ,  { :class=>'form-control'}  %>
    </div>
    <%= f.submit 'Save', :class => 'button right' %>
  <% end %>
</div>
